@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,300)

$body-font: 'Source Sans Pro', sans-serif
$header-font: 'Source Sans Pro', sans-serif

//
//
//  END imports/variables
//  
//	BEGIN fonts
//
//
a,
li,
p,
span
  font-family: $body-font
  font-weight: 200

h1,
h2,
h3,
h4,
h5,
h6
  font-family: $header-font
  font-weight: 300
//
//
//  END fonts
//  
//	BEGIN colors
//
//
body 
  background: rgba(255,250,240,1)

.back 