
@import responsive-rules
@import fonts-and-colors
@import animations

html, body
  margin: 0
  padding: 0
  background-image: url('../img/paper-bg.png')
  background-repeat: repeat

.wrapper
  width: 100vw
  min-height: 100vh
  height: 100%

i[class^="fa-arrow-"]:hover, i[class*="fa-arrow-"]:hover
  color: rgba(200,200,200,1)

.clearfix:before,
.clearfix:after 
  content: ""
  display: table


.clearfix:after 
  clear: both


.clearfix 
  zoom: 1

.fa 
  transition: .2s color, .2s opacity
.fa:hover
  opacity: .8
.fa-facebook:hover, .fa-facebook-square:hover
  color: #3B5998
.fa-google-plus-square:hover
  color: #DC4E41
.fa-pinterest:hover, .fa-pinterest-square:hover
  color: #C92228
.fa-behance:hover 
  color: #1769ff
.fa-twitter-square:hover
  color: #55acee

.white-border
  border: 5px white solid
  -moz-border-radius: 3px
  -webkit-border-radius: 3px
  border-radius: 3px

.divider-sm
  position: relative
  width: 45%
  margin: 5px auto

//
//
//  END includes and wrapper layout
//  
//  BEGIN header
//
//
  // .header img
  //   margin: 0 20px 0 0
  //   height: auto
  //   width: 20vw
//
//
//  END header
//  
//  BEGIN home/gallery
//
//
.view, .border-top, .border-bottom
  width: 80%
  position: relative
  float: right
  +tablet
    width: 100%

// .border-top
//   box-sizing: border-box
//   border-style: solid
//   border-width: 289px 296px 27px 292px
//   -moz-border-image: url('../img/borders-top.svg') 289 296 27 292 repeat
//   -webkit-border-image: url('../img/borders-top.svg') 289 296 27 292 repeat
//   -o-border-image: url('../img/borders-top.svg') 289 296 27 292 repeat
//   border-image: url('../img/borders-top.svg') 289 296 27 292 repeat
//   display: block
//   position: relative
//   z-index: -1
//   height: 0

// .border-bottom
//   box-sizing: border-box
//   border-style: solid
//   border-width: 0px 296px 291px 292px
//   -moz-border-image: url('../img/borders-bottom.svg') 0 296 291 292 repeat
//   -webkit-border-image: url('../img/borders-bottom.svg') 0 296 291 292 repeat
//   -o-border-image: url('../img/borders-bottom.svg') 0 296 291 292 repeat
//   border-image: url('../img/borders-bottom.svg') 0 296 291 292 repeat

.view 
  min-height: 100vh
  box-sizing: border-box
  padding: 0 140px

.top-border
  position: absolute
  z-index: 1050
  top: 0
  left: 20%
  width: 200px
  height: 200px
  transform: scale(50%, 50%)
  img
    -webkit-clip-path: url(#svgPath)
    clip-path: url(#svgPath)
    width: 100%
    height: 100%

  
.series-container 
  //layout and flexhbox stuff
  box-sizing: border-box
  display: flex
  display: -webkit-flex
  -webkit-flex-direction: row
  flex-direction: row
  align-items: flex-start
  -webkit-flex-flow: row wrap
  flex-flow: row wrap
  justify-content: left
  padding-top: 50px

.series-see-more
  width: 100%
  button
    display: block
    margin: 10px auto
    font-size: 3em
    background: rgba(0,0,0,0)
    border: 0
    -moz-border-radius: 100px
    -webkit-border-radius: 100px
    border-radius: 100px
    
.series-item 
  position: relative
  cursor: pointer
  width: 40%
  height: 40vh
  height: auto
  overflow: hidden

  +bigtablet
    padding: 5px 2% 10px 2%
  +tablet
    width: 100%
    margin: 0
  img
    display: inline-block
    position: relative
    max-width: 600px
    max-height: 40vh
    top: 0
    width: 95%
    object-fit: cover
    margin: 5px
  &:hover .series-info
    opacity: 1
  .series-info
    transition: opacity .2s
    opacity: 0
    position: absolute
    max-width: 600px
    max-height: 40vh
    top: 0
    width: 95%
    height: 100%
    object-fit: cover
    border: 5px rgba(255,255,255,0) solid
    -moz-border-radius: 3px
    -webkit-border-radius: 3px
    border-radius: 3px
    margin: 5px
    background: rgba(20,20,20,.3)
    .title
      color: $creme
      font-weight: bold
      position: relative
      top: 2px
      left: 5px
    .statement
      color: $creme
      padding: 0 10%
    .fa-arrow-right
      position: absolute
      bottom: 2%
      right: 5% 
      color: $creme




p.author 
  color: #000
  padding: 24px
  text-align: left

.expanded, .expanded > *
  position: fixed
  top: 0
  left: 0
  z-index: 100
  width: 80vw
  height: 100vh
//
//
//  END home/gallery
//  
//  BEGIN nav
//
//
.nav 
  position: fixed
  width: 20%
  float: left
  box-sizing: border-box
  padding: 20px
  height: 100vh
  // -webkit-box-shadow: 0 0 8px 1px rgba(0,0,0,.5)
  // -moz-box-shadow: 0 0 8px 1px rgba(0,0,0,.5)
  // box-shadow: 0 0 8px 1px rgba(0,0,0,.5)
  background: $periwinkle
  z-index: 100
  ul
    list-style-type: none
  .main-nav a
    text-decoration: none
    text-transform: lowercase
    font-size: 1.2em
    &:hover
      font-weight: 700
      color: $text-highlight
  li
    text-align: right
  +tablet
    position: relative
    width: 100%
    height: auto
    top: 0
    background: $periwinkle

.menu-icon
  position: relative
  text-align: right
  font-size: 2em
  line-height: 1em
  +giant
    display: none
  +desktop
    display: none
  +laptop
    display: none
  +tablet
    display: block
.nav-bottom
  position: absolute
  bottom: 0
.social-media
  width: 130%
  left: 5%
  right: 5%
  margin-bottom: 30px
  margin-top: 16px
  text-align: left
  position: relative
  i
    position: relative
    font-size: 2em
  i:after
    content: '\a0'
  +tablet
    width: 100%
    left: 0
    i
      font-size: 1em


.headshot
  width: 100%

  .headshot-hover
    display: none
    position: absolute
    width: 100%
    top: 50%
    text-align: center
  img, .headshot-hover
    width: 90%
    left: 5%
    right: 5%
    // -moz-border-radius: 300px
    // -webkit-border-radius: 300px
    // border-radius: 300px
    &:hover + .headshot-hover
      display: block
  +tablet
    display: none

.nav-curve 
  position: fixed
  width: 200px
  height: 500px
  bottom: 0
  left: 20%
  background: url('../img/curvycorner.png')
  z-index: 1

//
//
//  END nav
//  
//  BEGIN art page
//
//
.serie 
  padding: 80px 100px 100px 40px
  width: 100%  

.serie h2 
  color: #000
  padding: 20px 108px

.serie-body-text
  width: 40%
  float: right
  color: #6f6f6f
  margin: 0
  padding: 0 5% 0

.serie-masterimage 
  float: left
  width: 50%
  box-sizing: border-box
//
//
//  END art page
//  
//  BEGIN contact
//
//
.row 
  height: auto
  padding-bottom: 10px
  border-bottom: dotted #333 1px

.contact-info
  display: flex
  justify-content: space-around
  span:after
    content: '\a0'

.contact-form
  position: relative
  width: 50%
  left: 25%
  right: 25%
  display: block
  h2
    text-align: center
  input, textarea
    width: 100%
//
//
//  END contact
//  
//  BEGIN about
//
//

//
//
//  END about
//  
//  BEGIN ????
//
//