@import fonts-and-colors
@import responsive-rules

html, body
  margin: 0
  padding: 0

.wrapper
  width: 100vw
  min-height: 100vh
  padding: -300px
  border-style: solid
  box-sizing: border-box
  border-width: 100px
  // border-width: 281px 285px 269px 296px
  -moz-border-image: url('../img/borders.svg') 281 285 269 296 repeat
  -webkit-border-image: url('../img/borders.svg') 281 285 269 296 repeat
  -o-border-image: url('../img/borders.svg') 281 285 269 296 repeat
  border-image: url('../img/borders.svg') 281 285 269 296 repeat
//
//
//  END includes and wrapper layout
//  
//  BEGIN header
//
//
  // .header img
  //   margin: 0 20px 0 0
  //   height: auto
  //   width: 20vw
//
//
//  END header
//  
//  BEGIN home/gallery
//
//
.view 
  width: 80%
  position: relative
  float: right
.series-container 
  //layout and flexhbox stuff
  height: 95vh
  display: flex
  display: -webkit-flex
  -webkit-flex-direction: row
  flex-direction: row
  align-items: flex-start
  -webkit-flex-flow: row wrap
  flex-flow: row wrap
  height: 95vh
.series-item 
  position: relative
  cursor: pointer
  width: 25%
  height: 50vh
  margin: 0  
  padding: 0
  justify-content: center
  align-items: center
  overflow: hidden
  perspective: 1000
  .flip-container 
    transition: all 0.5s cubic-bezier(0,0,0.25,1)
    transform-style: preserve-3d
    position: relative
    .front, .back 
      width: 100%
      backface-visibility: hidden

    .front
      transform: rotateY(0deg)
      z-index: 2
    .back 
      transform: rotateY(180deg)
      position: absolute
      top: 0
.series-item:hover .flip-container
  -webkit-transform: rotateY(180deg)
  transform: rotateY(180deg)
p.author 
  color: #000
  padding: 24px
  text-align: left
img.img-responsive
  min-width: 100%
  min-height: 100%

.series-item:hover p.author, .series-item:hover a 
  text-decoration: none
//
//
//  END home/gallery
//  
//  BEGIN nav
//
//
.nav 
  position: relative
  width: 20%
  float: left
  box-sizing: border-box
  padding: 20px
  ul
    list-style-type: none
  a
    text-decoration: none
  li
    text-align: right


//
//
//  END nav
//  
//  BEGIN art page
//
//
.serie 
  margin: 0 0 80px   

.serie img 
  width: 100%

.serie h2 
  color: #000
  padding: 20px 108px

.serie p 
  color: #6f6f6f
  margin: 0
  padding: 0 108px 0

