<!doctype html>
<html>

<head>
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/angular-fancy-modal.css">
    <link rel="stylesheet" href="css/jquery.modal.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Libre+Baskerville' rel='stylesheet' type='text/css'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="/">
</head>

<body ng-app="GalleryApp" ng-controller="HomeController">
    <div class="wrapper">
        <div class="nav">
            <div class="container">
                <a href="/">
                    <img src="img/logo-vector.svg" class="logo" alt="">
                    <img src="img/artist_tagline.svg" class="tagline" alt="">
                </a>
                <div class="menu-icon">
                    <i class="fa fa-bars"></i>
                </div>
                <ul class="main-nav">
                    <li><a href="/">Gallery</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </div>
            <div class="nav-bottom">
                <div class="headshot">
                    <a href="/about">
                        <img src="img/headshot.jpg"alt="" class="headshot-img white-border">
                        <img src="img/right-arrow-white.svg" class="arrow headshot-arrow arrow-right" alt="">
                        <h2 class="headshot-caption">about&nbsp;</h2>
                        <!-- <i class="fa fa-arrow-right fa-2x"></i> -->
                        
                    </a>
                </div>
                <div class="divider">
                    <img src="img/divider.svg" class="nav-divider" alt="">
                </div>
                <div class="social-media">
                    <a href="https://www.facebook.com/joynelsonart/" target="_blank"><i class="fa fa-2x fa-facebook-square"></i></a>
                    <a href="https://plus.google.com/100994778294264234535" target="_blank"><i class="fa fa-2x fa-google-plus-square"></i></a>
                    <a href="https://www.behance.net/joynelsonart" target="_blank"><i class="fa fa-2x fa-behance"></i></a>
                    <a href="#" data-modal="fake-modal"><i class="fa fa-2x fa-envelope"></i></a>
                </div>
            </div>
        </div>
        <div class="nav-curve"></div>
        <div class="view fade" ng-view></div>
        <div class="fake-modal">
            <div class="background"></div>
            <div class="content">
                    <div class="contact-form">
                        <h2>Send me an Email!</h2>
                        <form name="contactform" id="contactform" ng-submit="sendMail(mail)" novalidate>
                            <p>Name
                                <br>
                                <input id="name" type="text" ng-model="mail.name" ng-pattern="string" required ng-trim="false" ng-class "{'has-error' : contactform.name.$invalid || !contactform.name.$pristine }">
                            </p>
                            <p>Email
                                <br>
                                <input id="email" type="email" ng-model="mail.email" ng-pattern="string" required ng-trim="false" ng-class "{'has-error' : contactform.email.$invalid || !contactform.email.$pristine }">
                            </p>
                            <p>Tell Me About...
                                <br>
                                <input id="subject" type="text" ng-model="mail.subject" ng-pattern="string" required ng-trim="false" ng-class "{'has-error' : contactform.subject.$invalid || !contactform.subject.$pristine }">
                            </p>
                            <p>Comments & Questions
                                <textarea id="message" type="text" ng-model="mail.message" ng-pattern="string" required ng-trim="false" rows="5" cols="30" ng-class "{'has-error' : contactform.message.$invalid || !contactform.message.$pristine }">
                            </textarea>
                            </p>
                            <input class="btn" type="submit" value="Send to Joy!" ng-disabled="userForm.$invalid" onclick="resetForm()"/>
                            <br>
                        </form>
                    <div class="clearfix"></div>
                </div>
                <div class="contact-info">
                    <span><i class="fa fa-envelope"></i>&nbsp;<a href="mailto:joy@joynelson.com">joy@joynelson.com</a></span>
                </div>
            </div>
        </div>
    </div>

    <!-- Libraries -->
    <!-- Include the core AngularJS library -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular.min.js"></script>
    <script src="//code.angularjs.org/1.3.5/angular-route.min.js"></script>
    <script src="//code.angularjs.org/1.3.5/angular-animate.js"></script>
    <!-- Modules -->
    <script src="js/app.js"></script>
    <!-- Controllers -->
    <script src="js/controllers/HomeController.js"></script>
    <script src="js/controllers/SerieController.js"></script>
    <script src="js/controllers/AboutController.js"></script>
    <!-- Services -->
    <script src="js/services/series.js"></script>
    <!-- Filters -->
    <script src="js/filters/filters.js"></script>
    <!-- jQuery UX stuff-->
    <script src="js/ux.js"></script>
    <script src="js/jquery.modal.min.js"></script>
    <script src="js/scrollreveal.js"></script>
    <!-- jQuery Custom Modal stuff-->    

</body>

</html>