<html>
<div class="row">
    <div class="contact-form">
        <h2>Send me an Email!</h2>
        <form name="form" novalidate>

            <p>Name<br>
                <input id="name" type="text" ng-model="mail.name"
                ng-pattern="string" required ng-trim="false"> 
            </p>
            <p>Email<br>
                <input id="email" type="text" ng-model="mail.email"
                ng-pattern="string" required ng-trim="false"> 
            </p>
            <p>Subject<br>
                <input id="subject" type="text" ng-model="mail.subject"
                ng-pattern="string" required ng-trim="false">             
            </p>
            <p>Message
                <textarea id="message" type="text" ng-model="mail.message"
                ng-pattern="string" required ng-trim="false" rows="5" cols="30">
                Specific Questions or Comments
                </textarea>
            </p>

            <input class="btn" type="submit" value="Send to Joy!" ng-click="sendMail(mail); resetForm()"/>
        </form>
    </div>

    <div class="contact-or">
        <h1>OR</h1>
    </div>

    <div class="contact-social">
        <h2>Find me on social media!</h2>
        <i class="fa fa-facebook"></i>
        <i class="fa fa-google-plus"></i>
        <i class="fa fa-pinterest"></i>
    </div>

    <div class="clearfix"></div>
</div>
<div class="contact-info">
		<span><i class="fa fa-phone"></i>&nbsp;(406) ???-????</span>
		<span><i class="fa fa-map-marker"></i>&nbsp;1234 Aardvark Ave, Juneau, AK</span>
		<span><i class="fa fa-envelope"></i>&nbsp;joy@joynelson.com</span>
</div>

</html>