<div class="series-container">
    <div class="series-item" ng-repeat="serie in series | limitTo: feedLimit">
        <a href="/series/{{$index}}">
            <img class="white-border" ng-src="{{ serie['data'].image }}">
            <div class="series-info">
                <h2 class="title">{{ serie['data'].title }}</h2>
                <p class="statement">{{ serie['data'].statement | limitTo:150 }} ...</p>
                <!-- <i class="fa fa-2x fa-arrow-right"></i> -->
                <img src="img/right-arrow-white.svg" class="arrow arrow-right" alt="">
            </div>
        </a>
    </div>
    <div class="series-see-more">
        <button ng-click="scroll()">
            <a ng-if="seriesLength > feedLimit" href="/"><img src="img/right-arrow.svg" class="arrow arrow-down" alt=""></a>
            <a ng-if="seriesLength < feedLimit" href="/"><img src="img/right-arrow.svg" class="arrow arrow-up" alt=""></a>
        </button>
    </div>
</div>