<div class="series-container">
    <div class="series-item" ng-repeat="serie in series | limitTo: feedLimit">
        <div class="series-flip-container">
            <div class="front">
                <img ng-src="{{ serie['data'].image }}">
            </div>
            <div class="back">
                <a href="#/series/{{$index}}">
                    <h2 class="author">{{ serie['data'].title }}</h2>
                    <p class="author">{{ serie['data'].statement }} </p>
                </a>
            </div>
        </div>
    </div>
    <div class="series-see-more">
        <button ng-click="scroll()">
            <i ng-if="seriesLength > feedLimit" class="fa fa-arrow-down"></i>
            <i ng-if="seriesLength < feedLimit" class="fa fa-arrow-up"></i>
        </button>
    </div>
</div>