<div class="series-container">
    <div class="series-item" ng-repeat="serie in series | limitTo: feedLimit">
    	<div class="flip-container">
	        <div class="front">
	        	<img class="img-responsive" ng-src="{{ serie['data'].image }}">
	        </div>
	        <div class="back">
	            <a href="#/series/{{$index}}">
	                <p class="author">{{ serie['data'].title }}</p>

	            </a>
	        </div>
        </div>
    </div>
    <div>
        <button class="see-more" ng-click="scroll()">Show More</button>
    </div>
