<head>
    <meta charset="utf-8">
</head>
<div class="serie">
    <div class="container">
        <a href="/"><i class="fa fa-arrow-left fa-3x"></i></a>
        <title class="serie-title"> {{ detail['data'].title }} </title>
        <h1 class="serie-title"> {{ detail['data'].title }} </h1>
        <img class="serie-masterimage" ng-src="{{ detail['data'].image }}">
        <div class="serie-body-text">
            <p class="serie-artiststatement"> <b> artist statement:  </b>{{ detail['data'].statement }} </p>
            <p class="serie-views"> <b> price: </b> {{ detail['data'].price }} </p>
            <p class="serie-pubdate"> <b> date: </b> {{ detail['data'].date }} </p>
        </div>
    </div>
    <div class="art-item" ng-repeat="art in arts | limitTo: 8">
 		 <img ng-src="{{ art['data'].image }}">
    </div>
</div>
